<nav class="nav justify-content-center">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="orders" *ngIf="isAuthenticated()">Mis Ordenes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="create-order" *ngIf="isAuthenticatedAndUserRole()">Crear Orden</a>
        </li>
        <li class="nav-item">
            <a style="color:white" class="nav-link" href="javascript:void(0);" *ngIf="isAuthenticated()"> {{description}}</a>
        </li>
        <li class="nav-item">
            <button (click)="logout()" *ngIf="isAuthenticated()" class="btn btn-danger btn-sm">Cerrar sesión</button>
        </li>
        
    </ul>
</nav>
